In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("../MobileWell400+/activity_recognition.csv")
df.head()

  participant                   timestamp    label  confidence  timestamp_UTC
0       AMdzA  2023-07-11 06:53:11.008530  TILTING         100   1.689051e+09
1       AMdzA  2023-07-11 07:39:23.885206  UNKNOWN          40   1.689054e+09
2       AMdzA  2023-07-11 07:39:50.082418  TILTING         100   1.689054e+09
3       AMdzA  2023-07-11 07:45:18.476427  TILTING         100   1.689054e+09
4       AMdzA  2023-07-11 07:50:31.669694  TILTING         100   1.689055e+09

DATA EXPLORATION

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10045512 entries, 0 to 10045511
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   participant    object
 1   timestamp      object
 2   label          object
 3   confidence     int64
 4   timestamp_UTC  float64
dtypes: float64(1), int64(1), object(3)
memory usage: 383.2+ MB

In [4]:
df.describe()

         confidence  timestamp_UTC
count  1.004551e+07   1.004551e+07
mean   8.024140e+01   1.690272e+09
std    2.287242e+01   7.198116e+05
min    1.900000e+01   1.689026e+09
25%    6.100000e+01   1.689671e+09
50%    9.300000e+01   1.690274e+09
75%    9.700000e+01   1.690900e+09
max    1.000000e+02   1.691556e+09

DATA CLEANING

In [5]:
#checking for duplicates

total_rows = len(df)
duplicate_rows = df.duplicated().sum()

print(f"Total rows: {total_rows}")
print(f"Duplicate rows: {duplicate_rows}")
print(f"Percentage duplicates: {duplicate_rows / total_rows * 100:.2f}%")

Total rows: 10045512
Duplicate rows: 0
Percentage duplicates: 0.00%

In [9]:
#checking for missing values
df.isna().sum()

#No missing values

participant      0
timestamp        0
label            0
confidence       0
timestamp_UTC    0
dtype: int64

EXPLORATION FOR CONFIDENCE INTERVALS

In [10]:
#Exploring Confidence
df['confidence'].describe()

count    1.004551e+07
mean     8.024140e+01
std      2.287242e+01
min      1.900000e+01
25%      6.100000e+01
50%      9.300000e+01
75%      9.700000e+01
max      1.000000e+02
Name: confidence, dtype: float64

In [13]:
df.groupby('label')['confidence'].sum()

label
IN_VEHICLE    115511909
ON_BICYCLE      4723617
ON_FOOT       146181421
STILL         396258795
TILTING        94599300
UNKNOWN        48790898
Name: confidence, dtype: int64

In [15]:
df.groupby('label')['confidence'].describe()

,count,mean,std,min,25%,50%,75%,max
label,,,,,,,,
IN_VEHICLE,1264217.0,91.370318,6.531819,19.0,88.0,94.0,96.0,100.0
ON_BICYCLE,55194.0,85.582074,11.728829,20.0,77.0,87.0,97.0,100.0
ON_FOOT,1608942.0,90.855619,6.270980,21.0,87.0,92.0,96.0,100.0
STILL,4950802.0,80.039314,22.214379,20.0,60.0,96.0,98.0,100.0
TILTING,945993.0,100.000000,0.000000,100.0,100.0,100.0,100.0,100.0
UNKNOWN,1220364.0,39.980611,0.498898,21.0,40.0,40.0,40.0,50.0

Conclusion - No missing values, outliers, unformatted data, found. No need for data cleaning