In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../MobileWell400+/connectivity.csv")
df.head()

  participant                   timestamp connectivity_status  timestamp_UTC
0       AMdzA  2023-07-11 06:30:32.524594              mobile   1.689050e+09
1       AMdzA  2023-07-11 06:30:45.647064                wifi   1.689050e+09
2       AMdzA  2023-07-11 07:16:04.829937                none   1.689053e+09
3       AMdzA  2023-07-11 07:16:06.256565              mobile   1.689053e+09
4       AMdzA  2023-07-11 07:54:47.653846                none   1.689055e+09

DATA EXPLORATION

In [2]:
df.info()
df.describe(include='all')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146059 entries, 0 to 146058
Data columns (total 4 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   participant          146059 non-null  object
 1   timestamp            146059 non-null  object
 2   connectivity_status  146059 non-null  object
 3   timestamp_UTC        146059 non-null  float64
dtypes: float64(1), object(3)
memory usage: 4.5+ MB

,participant,timestamp,connectivity_status,timestamp_UTC
count,146059,146059,146059,1.460590e+05
unique,395,146059,5,NaN
top,hWaSy,2023-08-08 20:35:34.377380,mobile,NaN
freq,2985,1,52711,NaN
mean,NaN,NaN,NaN,1.690273e+09
std,NaN,NaN,NaN,7.230116e+05
min,NaN,NaN,NaN,1.689027e+09
25%,NaN,NaN,NaN,1.689667e+09
50%,NaN,NaN,NaN,1.690266e+09
75%,NaN,NaN,NaN,1.690899e+09
max,NaN,NaN,NaN,1.691552e+09

CLEANING

In [4]:
#checking for duplicates

total_rows = len(df)
duplicate_rows = df.duplicated().sum()

print(f"Total rows: {total_rows}")
print(f"Duplicate rows: {duplicate_rows}")
print(f"Percentage duplicates: {duplicate_rows / total_rows * 100:.2f}%")

Total rows: 146059
Duplicate rows: 0
Percentage duplicates: 0.00%

In [5]:
#checking for missing values
df.isna().sum()

#No missing values

participant            0
timestamp              0
connectivity_status    0
timestamp_UTC          0
dtype: int64